.table-list-container {
  width: 100%;
  margin: 1rem auto;
  position: relative;
}

.table-list-topbar {
  background: var(--background);
}

.table-title-list {
  display: flex;
  align-items: center;

  padding: 0rem 2rem 2rem;
}

.table-title-list span {
  width: 7rem;
  margin-right: 2rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--grey);
}

.table-title-list :first-child {
  width: 17rem;
}

.table-title-list :last-child {
  width: 10rem;
}

.table-card-list-alert {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 7rem auto 0;
  color: var(--gray-line);
}

.table-card-list-alert :first-child {
  margin-bottom: 1rem;
}