.input-password {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.input-password input {
  border-radius: 8px 0px 0px 8px !important;
  cursor: text !important;
}

.input-password label {
  margin-top: -15px;
  border-radius: 0px 8px 8px 0px;
  padding: 1.18rem 1rem;
  color: var(--black);
  background: var(--background);
}

.input-password :first-child {
  cursor: pointer;
}

.input-password button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
