.topbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto 1rem;

}

.topbar-title > h1 {
  color: var(--title);
  font-size: 1.6rem;
  font-weight: 500;
}

.topbar-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register-product-button{
  background: var(--blue);
  color: var(--white);
  border: none;
  width: 20rem;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1rem;
  font-weight: 500;
  border-radius: 7px;
  transition: 0.4s ease;
}

.register-product-button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.register-product-button:hover {
  filter: brightness(1.3);
}