.mainpage-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.mainpage-center-content {
  width: 90%;
  height: 100vh;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  padding: 0rem 3rem 2rem;
  overflow-y: scroll;
}

.toogleshow-button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
  position: relative;
}

.toogleshow-button button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--blue);
  color: rgb(255, 255, 255);
  border: none;
  position: absolute;
}

.toogleshow-button hr {
  border-color: black;
}